//
//  AIHelpSDK.release.xcconfig
//  AIHelpSupportSDK
//
//  Created by aihelp on 2022/8/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "AIHelpSDK.common.xcconfig"
#include "Pods/Target Support Files/Pods-AIHelpSupportSDK/Pods-AIHelpSupportSDK.release.xcconfig"
